<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <!--<h1>Thanks for signing up, <%= @user.email %>!</h1>-->
    <p>Hola, <%= @user.first_name %> <%= @user.last_name %>: <br> ¡Te damos la bienvenida a Airbnb! Antes de empezar, debes confirmar tu dirección de correo electrónico.</p>

    <span>chambita.mx</span>
  </body>
</html>
