<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <td>
          Nombre:
        </td>
        <td>
          <%= @user.first_name %> <%= @user.last_name %>
        </td>
      </tr>

      <tr>
        <td>
          Email:
        </td>
        <td>
          <%= @user.email %>
        </td>
      </tr>

    </table>
  </body>
</html>
